/* General style */
html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: montserrat;
  font-weight: 700;
  text-transform: capitalize;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 200, 53);
  height: 100%;
}

.wrapper {
  display: flex;
  gap: 25px;
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.img-wrapper,
.score-wrapper {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.1s ease;
  cursor: pointer;
}

.title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0;
}

.player-score,
.computer-score {
  font-size: 120px;
}

.label {
  font-size: 32px;
}

/* Result panel */
.computer,
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer .score-wrapper .computer-desc,
.player .score-wrapper .player-desc {
  font-size: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
}

.computer .img-wrapper .score,
.player .img-wrapper .score {
  margin-top: 20px;
  font-size: 15px;
  width: 120px;
  height: auto;
  text-align: center;
}

.divider {
  align-self: center;
  text-align: center;
  flex-shrink: 0;
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
}

/* Player choice */
.player-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.player-choice .img-wrapper:hover {
  transform: scale(1.1);
}

.player-choice .img-wrapper .desc {
  margin-top: 10px;
  font-size: 20px;
}
